<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ABC_Car_TradersConnectionString"
            connectionString="Data Source=DESKTOP-MPDGLCC\SQLEXPRESS;Initial Catalog=ABC_Car_Traders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>